<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/45e93473bb.js"></script>
    <title>Noah Ramey</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/temporary.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="wrapper-alt">
        <div class="text-center content">
          <h1>Noah Ramey</h1>
          <%# <p>Site in the works.</p>%>
          <div class="links">
            <a href="https://github.com/noahramey" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://linkedin.com/in/noahramey" target="_blank"><i class="fa fa-linkedin"></i></a>
            <script type="text/javascript">
              <!--
              var s="=b!isfg>#nbjmup;opbiAopbisbnfz/dpn#?=j!dmbtt>#gb!gb.fowfmpqf#?=0j?=0b?";
              m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
              //-->
            </script>
            <noscript>
            You must enable JavaScript to see this text.
            </noscript>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
